            <!-- about-area -->
            <section id="about" class="about-area about-p pt-120 pb-130 p-relative" style="background: url(assets/img/bg/aliment-right.png) no-repeat; background-position: right center;">
              <div class="container">
                  <div class="row align-items-center">
                       <div class="col-lg-6 col-md-12 col-sm-12">
                          <div class="s-about-img p-relative" >
                              <img src="assets/img/features/about_img.png" alt="img">    
                          </div>
                        <div class="about-text second-about">
                                  <span>50 </span>
                            Years of Experience
                              </div>
                      </div>
                      
        <div class="col-lg-6 col-md-12 col-sm-12">
                          <div class="about-content s-about-content pl-30">
                              <div class="about-title second-title pb-25">  
                                  <h5>
                                    <a routerLink="/aboutUs" style="text-decoration: none; color: inherit;">ABOUT US</a>
                                </h5>
                                  <h2>What’s Our Resources Story</h2>
                              </div>
                              
                              <p>Praesent fringilla lorem tincidunt, commodo erat sit amet, eleifend neque. Etiam nec vestibulum turpis, quis tempus elit. Sed tempus elit porttitor odio gravida, sed maximus turpis mattis. Vivamus at urna ut libero ornare congue.</p>
                                <ul class="progress-outer  mt-30">
                                  <li>
                                      <div class="progress-box">
                                          <div class="progress blue">
                                          <span class="progress-left">
                                              <span class="progress-bar"></span>
                                          </span>
                                          <span class="progress-right">
                                              <span class="progress-bar"></span>
                                          </span>
                                          <div class="progress-value">20MI</div>
                                      </div>
                                          <h4>Project Done</h4>
                                      </div>
                                  </li>
                                <li>
                                      <div class="progress-box">
                                          <div class="progress blue">
                                          <span class="progress-left">
                                              <span class="progress-bar"></span>
                                          </span>
                                          <span class="progress-right">
                                              <span class="progress-bar"></span>
                                          </span>
                                          <div class="progress-value">30MI</div>
                                      </div>
                                          <h4>Wrokers work</h4>
                                      </div>
                                  </li>
                              </ul>
                         
                             
                    
                          </div>
                      </div>
                   
                  </div>
              </div>
          </section>
          <!-- about-area-end -->