            <!-- breadcrumb-area -->
            <section class="breadcrumb-area d-flex align-items-center" style="background-image:url(assets/img/testimonial/test-bg.jpg)">
              <div class="container">
                  <div class="row align-items-center">
                      <div class="col-xl-12 col-lg-12">
                          <div class="breadcrumb-wrap text-left">
                              <div class="breadcrumb-title">
                                  <h2>Services</h2>    
                                  <div class="breadcrumb-wrap">
                            
                              <nav aria-label="breadcrumb">
                                  <ol class="breadcrumb">
                                      <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
                                      <li class="breadcrumb-item active" aria-current="page">Pricing</li>
                                  </ol>
                              </nav>
                          </div>
                              </div>
                          </div>
                      </div>
                      
                  </div>
              </div>
          </section>
          <!-- breadcrumb-area-end -->
     <!-- services-three-area -->
          <section id="services-08" class="services-08 pt-120 pb-120 p-relative" style="background: url(assets/img/bg/aliment-left.png) no-repeat; background-position: left center;">
              <div class="container">
                  <div class="row">   
                      <div class="col-lg-12">
                          <div class="section-title center-align mb-50 text-center">
                               <h5>OUR SERVICES</h5>  
                              <h2>
                                 What We Offer
                              </h2>
                           
                          </div>
                         
                      </div>
                       
                  </div>
                  <div class="row services-08-item--wrapper mt-0">
                          <div class="col-lg-4 col-md-4">
                              <div class="services-08-item">
                                  <div class="services-08-thumb">
                                   <i class="flaticon flaticon-customer-support"></i>
                                  </div>
                                  <div class="services-08-content">
                                      <h3><a routerLink="/servicesDetail"> Technical Services</a> </h3>
                                      <p>Donec vestibulum arcu a arcu scelerisque, quis dignissim turpis semper onec tortor mi, volutpat a iaculis sit amet.</p>
                                  </div>
                              </div>
                          </div>
                            <div class="col-lg-4 col-md-4">
                              <div class="services-08-item">
                                  <div class="services-08-thumb">
                                   <i class="flaticon flaticon-solar-panel"></i>
                                  </div>
                                  <div class="services-08-content">
                                      <h3><a routerLink="/servicesDetail"> Energy Panels</a></h3>
                                      <p>Donec vestibulum arcu a arcu scelerisque, quis dignissim turpis semper onec tortor mi, volutpat a iaculis sit amet.</p>
                                  </div>
                              </div>
                          </div>
                            <div class="col-lg-4 col-md-4">
                              <div class="services-08-item">
                                  <div class="services-08-thumb">
                                    <i class="flaticon flaticon-wind-energy"></i>
                                  </div>
                                  <div class="services-08-content">
                                      <h3><a routerLink="/servicesDetail">Wind Generators</a></h3>
                                      <p>Donec vestibulum arcu a arcu scelerisque, quis dignissim turpis semper onec tortor mi, volutpat a iaculis sit amet.</p>
                                  </div>
                              </div>
                          </div>
                      
                     
                      </div>
                  
                  <div class="row services-08-item--wrapper mt-0">
                           <div class="col-lg-4 col-md-4">
                              <div class="services-08-item">
                                  <div class="services-08-thumb">
                                    <i class="flaticon flaticon-eco-home"></i>
                                  </div>
                                  <div class="services-08-content">
                                      <h3><a routerLink="/servicesDetail">Solar As A Service</a></h3>
                                      <p>Donec vestibulum arcu a arcu scelerisque, quis dignissim turpis semper onec tortor mi, volutpat a iaculis sit amet.</p>
                                  </div>
                              </div>
                          </div>
                           <div class="col-lg-4 col-md-4">
                              <div class="services-08-item">
                                  <div class="services-08-thumb">
                                   <i class="flaticon flaticon-charging-station"></i>
                                  </div>
                                  <div class="services-08-content">
                                      <h3><a routerLink="/servicesDetail"> Solar PV Systems</a></h3>
                                      <p>Donec vestibulum arcu a arcu scelerisque, quis dignissim turpis semper onec tortor mi, volutpat a iaculis sit amet.</p>
                                  </div>
                              </div>
                          </div>
                           <div class="col-lg-4 col-md-4">
                              <div class="services-08-item">
                                  <div class="services-08-thumb">
                                    <i class="flaticon flaticon-clipboard"></i>
                                  </div>
                                  <div class="services-08-content">
                                      <h3><a routerLink="/servicesDetail">Inspection Checklist</a></h3>
                                      <p>Donec vestibulum arcu a arcu scelerisque, quis dignissim turpis semper onec tortor mi, volutpat a iaculis sit amet.</p>
                                  </div>
                              </div>
                          </div>
                     
                      </div>
        
                   
                  </div>
          </section>
         <!-- services-three-area -->
         
           <!-- video-area -->
        <app-video></app-video>
          <!-- video-area-end -->
        <br><br>
          <!-- testimonial-area -->
        <app-testinomial></app-testinomial>
          <!-- testimonial-area-end -->
          
            <!-- brand-area -->
          <app-brand></app-brand>
          <!-- brand-area-end -->