<!-- breadcrumb-area -->
<section class="breadcrumb-area d-flex align-items-center"
  style="background-image: url(assets/img/testimonial/test-bg.jpg)">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xl-12 col-lg-12">
        <div class="breadcrumb-wrap text-left">
          <div class="breadcrumb-title">
            <h2>Gallery</h2>
            <div class="breadcrumb-wrap">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/home">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">
                    <a href="/contact"> Contact US </a>
                  </li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- breadcrumb-area-end -->
<!-- gallery-area -->
<section id="work" class="pt-120 pb-90" style="
    background: url(assets/img/bg/aliment-right2.png) no-repeat;
    background-position: right center;
  ">
  <div class="container">
    <div class="portfolio">
      <div class="row align-items-center mb-50 text-center">
        <div class="col-lg-12">
          <div class="my-masonry">
            <div class="button-group filter-button-group">
              <button *ngFor="let filter of filters" [class.active]="activeFilter === filter.value"
                (click)="applyFilter(filter.value)">
                {{ filter.label }}
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="grid col3" #gridContainer>
        <div *ngFor="let project of projects" [ngClass]="project.category" class="grid-item">
          <a [href]="project.url">
            <figure class="gallery-image">
              <img [src]="project.image" alt="img" class="img" />
              <figcaption>
                <h4>{{project.name}}</h4>
              </figcaption>
            </figure>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- gallery-area-end -->
<!-- main-area-end -->